<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BoodschApp!</title>
</head>
<body>
<div id="app">
    <input v-model="newItem" placeholder="Add a new item..." @keyup.enter="addItem">
    <button @click="addItem">Add item</button>
    <ol>
        <shopping-list-item
                v-for="item in shoppingListItems"
                v-bind:item="item"
                v-bind:key="item.id"
                @delete-item="deleteItem"
        ></shopping-list-item>
        <button v-on:click="clearList">Clear all items</button>
    </ol>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="vue.js "></script>
</body>
</html>
